<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 要调用的工作类 -->
	<bean id="statisticsJob" class="com.fh.timemission.statistics.StatisticsTimer"/>
	<!-- 定义调用对象和调用对象的方法A -->
	<bean id="statisticsTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <!-- 调用的类 -->
	    <property name="targetObject">
	        <ref bean="statisticsJob"/>
	    </property>
	    <!-- 调用类中的方法 -->
	    <property name="targetMethod">
	        <value>run</value>
	    </property>
	</bean>
	
	<!-- 要调用的工作类 
	<bean id="quartzJobB" class="cn.EventProviderServiceImpl"/>-->
	<!-- 定义调用对象和调用对象的方法B 
	<bean id="jobtaskB" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject">
	        <ref bean="quartzJobB"/>
	    </property>
	    <property name="targetMethod">
	        <value>run</value>
	    </property>
	</bean>-->
	
	<!-- 定义触发时间A -->
	<bean id="statisticsTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	    <property name="jobDetail">
	        <ref bean="statisticsTask"/>
	    </property>
	    <property name="cronExpression">
	        <value>0 57 17 * * ? *</value>
	    </property>
	</bean>
	
	<!-- 定义触发时间B 
	<bean id="doTimeB" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail">
	        <ref bean="jobtaskB"/>
	    </property>
	    <property name="cronExpression">
	        <value>0 * * * * ?</value>
	    </property>
	</bean>-->

	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="statisticsTime"/>
	            <!-- <ref bean="doTimeB"/> -->
	        </list>
	    </property>
	</bean>
</beans>